*
{
    margin: 0;
    font-family: sans-serif;
}
.logo{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
}
.tlogo{
    display: flex;
    gap: 50px;
    align-items: center;
}
.button{
    padding: 5px;
    border-radius: 10px;
    background-color: #FF7A50;
    width: 100px;
    height: 45px;
    border: none;
    color: white;
}
.gskuter{
    height:500px;
    /* background-color: bisque; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.textskuter{
    font-size: 21px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.foodo{
    padding: 5px;
    border-radius: 10px;
    background-color: #FF7A50;
    width: 100px;
    height: 45px;
    border: none;
    color: white;
}
.suratois{
    width: 600px;
    height: 500px;
    /* background-color: blue; */
    position: relative;
}
.s1{
    height: 500px;
    position: absolute;
}
.s2{
    height: 120px;
    position: absolute;
    left: 365px;
    top: 170px;
}
.s3{
    position: absolute;
    height: 60px;
    left: 160px;
}
.s4{
    position: absolute;
    height: 80px;
    top: 70px;
    left: 25px;
}
.s5{
    position: absolute;
    height: 150px;
    left: 380px;
    top: 40px;
}
.s6{
    position: absolute;
    height: 60px;
    left: 415px;
    top: 13px;
}
.h1holi{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.burger{
    background-color: #FF7A50;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}
.tburger{
    color: white;
}
.gburgero{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.burger1{
    background-color: white;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}
.tburger1{
    color: black;
}
.burger2{
    background-color: white;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}
.tburger2{
    color: black;
}
.burger3{
    background-color: white;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}
.tburger3{
    color: black;
}
.burger4{
    background-color: white;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}
.tburger24{
    color: black;
}
.cheesbur{
    background-color: white;
    width: 200px;
    height: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.drnib{
    background-color: #FF7A50;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin: auto;
    padding: 2px;
}
.tcheesbur{
    line-height: 25px;
}
.glavnichs{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}
.knopka{
    text-align: center;
    margin-bottom: 90px;
}
.dostavka{
    height: 600px;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.timer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.see{
    width: 120px;
    height: 35px;
    background-color: #FF7A50;
    text-align: center;
    padding: 5px;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.tdostavka{
    font-size: 18px;
}